<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DatabaseConnectionType" value="2" />
    <!-- 
    1 Celý connection string najednou z tagu DefaultConnectionString => connectionString
    2 Po parametrech
    -->
    <add key="DatabaseServer" value="PAT-VIRTUAL\SQLEXPRESS" />
    <add key="DatabaseCatalog" value="zfstankov" />
    <add key="DatabaseUser" value="stankov" />
    <add key="DatabasePassword" value="123456" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnectionString" connectionString="Server=NB-Pat\SQLEXPRESS;Database=ZFStankov;User Id=zfstankov;Password=123456789;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>